<a href="https://colab.research.google.com/github/AkhmadMuzanni/TestingBangkit/blob/master/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cardiovascular Disease Classification

## Import Library

In [0]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam, RMSprop
from tensorflow.keras.utils import plot_model
import matplotlib.pyplot as plt

## Dataset

### Download Dataset

In [0]:
!wget https://github.com/AkhmadMuzanni/TestingBangkit/releases/download/1/cardio_train.csv

--2020-03-28 08:21:29--  https://github.com/AkhmadMuzanni/TestingBangkit/releases/download/1/cardio_train.csv
Resolving github.com (github.com)... 13.229.188.59
Connecting to github.com (github.com)|13.229.188.59|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github-production-release-asset-2e65be.s3.amazonaws.com/249347548/f2725180-70f8-11ea-95f2-066ded418dfc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200328%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200328T082129Z&X-Amz-Expires=300&X-Amz-Signature=1b4a440bf22867e197476cb965af08a80c73ca8e2cddc489e9812c60509b6e18&X-Amz-SignedHeaders=host&actor_id=0&response-content-disposition=attachment%3B%20filename%3Dcardio_train.csv&response-content-type=application%2Foctet-stream [following]
--2020-03-28 08:21:29--  https://github-production-release-asset-2e65be.s3.amazonaws.com/249347548/f2725180-70f8-11ea-95f2-066ded418dfc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200328%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200328T082129Z&X-Amz-Expires=300&X-Amz-Signature=1b4a440bf22867e197476cb965af08a80c73ca8e2cddc489e9812c60509b6e18&X-Amz-SignedHeaders=host&actor_id=0&response-content-disposition=attachment%3B%20filename%3Dcardio_train.csv&response-content-type=application%2Foctet-stream
Resolving github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)... 52.216.108.139
Connecting to github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)|52.216.108.139|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3081492 (2.9M) [application/octet-stream]
Saving to: ‘cardio_train.csv’

cardio_train.csv    100%[===================>]   2.94M  1.94MB/s    in 1.5s

2020-03-28 08:21:31 (1.94 MB/s) - ‘cardio_train.csv’ saved [3081492/3081492]

### Load Dataset

In [0]:
dataset = pd.read_csv("cardio_train.csv")

### Drop Unecessary Column

In [0]:
data_train = dataset.drop(["id"], 1)

### Normalize Dataset

In [0]:
# fix weight value
weight = []
for w in data_train["weight"]:
  weight.append(int(w.split('.')[0]))

In [0]:
# drop weight column and put new weight column
data_train = data_train.drop(["weight"], 1)
data_train["weight"] = weight

### Remove Inconsistent Data

In [0]:
# hapus yang heightnya diatas 220
data_train = data_train.drop(data_train[data_train.height > 220].index)
# hapus yg ap_hi diatas 250
data_train = data_train.drop(data_train[data_train.ap_hi > 250].index)
# hapus yg ap_low diatas 200
data_train = data_train.drop(data_train[data_train.ap_lo > 200].index)

In [0]:
data_train

       age  gender  height  ap_hi  ap_lo  ...  smoke  alco  active  cardio  weight
0       50       2     168    110     80  ...      0     0       1       0      62
1       55       1     156    140     90  ...      0     0       1       1      85
2       52       1     165    130     70  ...      0     0       0       1      64
3       48       2     169    150    100  ...      0     0       1       1      82
4       48       1     156    100     60  ...      0     0       0       0      56
...    ...     ...     ...    ...    ...  ...    ...   ...     ...     ...     ...
69995   53       2     168    120     80  ...      1     0       1       0      76
69996   62       1     158    140     90  ...      0     0       1       1     126
69997   52       2     183    180     90  ...      0     1       0       1     105
69998   61       1     163    135     80  ...      0     0       0       1      72
69999   56       1     170    120     80  ...      0     0       1       0      72

[69006 rows x 12 columns]

### Split Data Train and Test

In [0]:
# get label
label = data_train["cardio"]
# drop label column
data_train = data_train.drop("cardio", 1)
# convert to numpy array
label = np.array(label)
data_train = np.array(data_train)

In [0]:
# Normalize Dataset (0 - 1)
max_vals = np.max(data_train, 0)
data_train = data_train / max_vals

In [0]:
# Split Train and Test
X_train, x_test, Y_train, y_test = train_test_split(data_train, label, test_size=0.3) # 30% data test
print("Train shape:", X_train.shape)
print("Test shape:", x_test.shape)

Train shape: (48304, 11)
Test shape: (20702, 11)